/*====================== MEDIA =============================================================*/
/*==========  Desktop First  ==========*/
@import "vars";

@media only screen and (max-width:1200px) {
	.type-of-hotdogs .desc{
			padding:0 50px 20px 80px;
	}
	.header .menu .item{
		margin-left:50px;
	}
	.topic .banner{
		font-size:50px;
		padding:78px 50px 78px;
		margin:0 20px;
	}
};

@media only screen and (max-width:1100px) {
	
	.topic .banner{
		//margin:0;
	}
};

/* Medium Devices, Desktops */
@media only screen and (max-width:992px) {
	.header .menu .item a{
		font-size:18px;
		
	}
	.header .menu{
		padding:10px 0;
	}

}

;
@media only screen and (max-width:800px) {
	
	.footer .content{
		flex-direction:column;
		justify-content:space-around;
		.copyright {
			margin-left: 0;
		}
		 .address {
			margin-right: 0;
		}
	}
}

;

/* Small Devices, Tablets */
@media only screen and (max-width:768px) {
	.type-of-hotdogs .desc{
		
		padding:0 25px 20px 40px;
		h2{
			font-size:20px;
			&:before{
				top:18px;
				left:-25px;
				width:15px;
			}
		}
		p{
			font-size:16px;
		}
	}
	.topic .banner{
		font-size:36px;
		padding:78px 25px 78px;
	}
	.topic{
		padding: 115px 0 115px;
	}
	.header .menu .item{
		margin-left:30px;
	}
	.header .menu .item a{
		font-size:16px;
		
	}
}

;

/* Small Devices, Tablets */
@media only screen and (max-width:600px) {
	.header .menu .item{
		margin-left:15px;
	}
	menu{
		padding-left:0;
		margin:10px 0;
	}
	.type-of-hotdogs{
		.hotdog{
			flex-direction:column;
			&:nth-child(2){
				.desc{
					order:0;
				}
			}
			.desc{
				padding:100px 80px 100px 80px;
				max-width:100%;
			}
			.view{
				width:100%;
				
			}
		}
	}
	.topic{
		div{
			text-align:center;
			img{
				width:85%;
			}
		}
	}
	.footer .content .address{
		flex-direction:column;
		div{
			padding-left:0;
			padding-top:5px;
			text-align:center;
			&:before{
				display:none;
			}
			
		}
	}
	.footer .content{
		height:90px;
	}
	
}

;

/* Extra Small Devices, Phones */
@media only screen and (max-width:480px) {
	.header .menu .item a{
		font-size:14px;
		letter-spacing:0;
	}
	
	.type-of-hotdogs .hotdog .desc{
		padding:40px 25px 40px 45px;
		h2{
			font-size:18px;
			&:before{
				top:16px;
				left:-25px;
				width:15px;
			}
		}
	}
	.header .menu{
		padding:5px 0;
		.item{
			a{
				&:before{
					bottom:-5px;
					height:2px;
				}
			}

			&:hover{
				a{
					text-shadow:0 3px 8px rgba(150, 150, 150, 1);
					&:before{
						width:100%;
						left:0;
					}
				}
				
			}
			
		}
	}
	.topic{
		padding: 100px 20px 80px;
		div{
			text-align:center;
			img{
				width:70%;
			}
		}
	}
	.topic .banner {
		font-size: 26px;
		padding: 30px 25px 30px;
	}
	.button{
		padding: 10px 15px;
		font-size: 14px;
		letter-spacing: 0;
	}
}

;

/* Custom, iPhone Retina */
@media only screen and (max-width:320px) {


};





